html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.example-button {
  background: rgb(86, 1, 245);
  color: white;
  font-size: 1.8rem;
  border-radius: 0.4rem;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}
